.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.dropdown-menu {
  min-width: 200px;
  border-radius: 0;
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 16px;
  line-height: 1.5;
  border-bottom: none;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: 5px;
  border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 0;
}
